
/* slider */

#templatemo_slider_wrapper {
	width: 99%;
	height: 430px;
	background: url("../images/Background-Texture-Images41.jpg") repeat-x;
	background: #000000;
}

#templatemo_slider {
	width: 650px;
	height: 430px;
	margin: 0 auto;
	padding: 30px;
}

/* end of slider */